*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.divParent{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
.divParent input {
  margin: 0px 10px;
  max-width: 300px;
}